/*-- Reset Code --*/

	html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a
	,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,st
	rike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,lab
	el,legend,caption,article,aside,canvas,deta
	ils,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,sectio
	n,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-
	size:100%;font:inherit;vertical-align:baseline;} article, aside, details,
	figcaption, figure,footer, header, hgroup, menu, nav, section {display:
	block;} ol,ul{list-style:none;padding:0;margin:0;}
	blockquote,q{quotes:none;} blockquote:before,blockquote:after,q:before,q:aft
	er{content:'';content:none;}  a{text-decoration:none;} .txt-rt{text-align:right;} .txt-lt
	{text-align:left;} /*-- w3layouts --*/ /*-- agileits --*/ .txt-center{text-
	align:center;} .float-rt{float:right;} .float-lt{float:left;}
	.clear{clear:both;} .pos-relative{position:relative;} .pos-
	absolute{position:absolute;} .vertical-base{vertical-align:baseline;}
	.vertical-top{vertical-align:top;} .underline{padding-bottom:5px;border-
	bottom:1px solid #eee;margin:0 0 20px 0;} nav.vertical ul li{display:block;}
	nav.horizontal ul li{display: inline-block;} img{max-width:100%;}

/*-- Reset Code --*/





/*-- Index-Page-Styling --*/



body {     background: url("../images/bg.jpg");     background-repeat: no-
repeat;     background-attachment: fixed;     background-position: center;
/*-- w3layouts --*/     /*-- agileits --*/     background-size: cover;
-webkit-background-size: cover;     -moz-background-size: cover;     -o
-background-size: cover;     font-family: 'Roboto', sans-serif;     text-align:
center; }

body a, body a:hover, input[type="button"], input[type="submit"],
input[type="submit"]:hover, button, button:hover {     transition: 0.5s all;
-webkit-transition: 0.5s all;     -moz-transition: 0.5s all;     -o-transition:
0.5s all;     -ms-transition: 0.5s all;     text-decoration: none; }

h1 {     font-family: 'Montserrat', sans-serif;     font-size: 40px;     margin:
50px 0 100px;     /*-- w3layouts --*/     /*-- agileits --*/     color: #FFF; }

.containerw3layouts-agileits {     width: 40%;     margin: 0 auto; }

legend {     font-family: 'Montserrat', sans-serif;     font-size: 25px;
text-align: left;     color: #FFF;     margin-bottom: 20px; }

fieldset {     text-align: left; }

label {     font-family: 'Montserrat', sans-serif;     font-size: 14px;
color: #EEE;     margin-bottom: 5px; }

.form-control {     display: block;     width: 100%;     padding: 10px;
font-size: 14px;     /*-- w3layouts --*/     /*-- agileits --*/     color: #FFF;
background-color: rgba(0, 0, 0, 0.6);     border: 1px solid #ccc;     border-
radius: 0;     height: inherit;     -webkit-box-shadow: inset 0 1px 1px rgba(0,
0, 0, .075);     box-shadow: none;     -webkit-transition: border-color ease-in-
out .15s, -webkit-box-shadow ease-in-out .15s;     -o-transition: border-color
ease-in-out .15s, box-shadow ease-in-out .15s;     transition: border-color
ease-in-out .15s, box-shadow ease-in-out .15s; }

.form-horizontal .control-label {     padding: 0;     padding-top: 12px; }

button.btn {     padding: 10px 40px;     font-family: 'Montserrat', sans-serif;
background-color: #000;     border: 1px solid #FFF;     border-radius: 0;
/*-- w3layouts --*/     /*-- agileits --*/     font-weight: lighter; }

button.btn:hover {     background-color: #FFF;     color: #000;     font-weight:
bolder; }

button.btn-default {     color: #FFF; }

::-webkit-input-placeholder {     color: #FFF!important; }

::-moz-placeholder {     color: #FFF!important; }

::-moz-placeholder {     color: #FFF!important; }

::-ms-input-placeholder {     color: #FFF!important; }

.w3lsfooteragileits {     margin: 100px 10px 20px; }

.w3lsfooteragileits p {     font-size: 15px;     line-height: 25px;     /*--
w3layouts --*/     /*-- agileits --*/     color: #EEE; }

.w3lsfooteragileits p a {     font-family: 'Montserrat', sans-serif;     color:
#EEE; }

.w3lsfooteragileits p a:hover {     color: #F44336; }

.top-menu {     float: right; }

.top-menu ul li {     display: inline-block;     border-bottom-width: 2px;
border-bottom-style: solid;     border-bottom-color: rgb(22, 21, 27); }

.header {     padding-top: 3em; }

@media (min-width: 1200px)     .container {     width: 1170px; } @media (min-
width: 992px)     .container {     width: 970px; } @media (min-width: 768px)
.container {     width: 750px; } .container {     padding-right: 15px; padding-
left: 15px;     margin-right: auto;     margin-left: auto; }


.top-menu ul li.active a {     border-bottom: 2px solid #922B21; } 

.top-menu ul li a:hover {
	border-bottom: 2px solid #008ed6;
	color: #008ed6;
}
.top-menu ul li a {     color: #fff;     font-size: 1.15em;
padding: 0 2px 10px 2px;     display: block;     text-decoration: none;
margin: 0 0.5em; }

/*-- Index-Page-Styling --*/



table {
	color: #333;
	font-family: Helvetica, Arial, sans-serif;
	width: 640px;
	border-collapse:
	collapse; border-spacing: 0;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

td, th {
	border: 1px solid transparent; /* No more visible border */
	height: 40px;
	transition: all 0.3s; /* Simple transition for hover effect */
}

th {
	background: #922B21; /* Darken header a bit */
	font-weight: bold;
	color: #FFF;
	text-align: center;
}

td {
	background: #FAFAFA;
	text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */
tr:nth-child(even) td { background: #EAEDED; }

/* Cells in odd rows (1,3,5...) are another (excludes header cells) */
tr:nth-child(odd) td { background: #FBEEE6; }

tr:hover td { background: #2471A3; color: #000; } /* Hover cell effect! */
h2 {
	text-align: center;
}

::-webkit-input-placeholder { /* Chrome */
  color: red;
  transition: opacity 250ms ease-in-out;
}



.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}






/*-- Responsive-Code --*/





@media screen and (max-width: 1920px) {     h1 {         font-size: 50px;
margin: 10px 0;     }     .containerw3layouts-agileits {         width: 35%;
}     .w3lsfooteragileits {         margin: 150px 10px 20px;     } }

@media screen and (max-width: 1680px) {     h1 {         font-size: 50px;
/*-- w3layouts --*/         /*-- agileits --*/         margin: 10px 0;     }
.containerw3layouts-agileits {         width: 38%;     }     .w3lsfooteragileits
{         margin: 125px 10px 20px;     } }

@media screen and (max-width: 1600px) {     h1 {         font-size: 40px;
margin: 10px 0 100px;     }.containerw3layouts-agileits {         width: 40%;
}     .w3lsfooteragileits {         margin: 100px 10px 20px;     } }

@media screen and (max-width: 1440px) {     .containerw3layouts-agileits {
width: 43%;     } }

@media screen and (max-width: 1366px) {     h1 {         font-size: 40px;
margin: 50px 0 75px;     }     .containerw3layouts-agileits {         width:
45%;     } }

@media screen and (max-width: 1280px) {     .containerw3layouts-agileits {
width: 48%;     } }

@media screen and (max-width: 1080px) {     .containerw3layouts-agileits {
width: 55%;     } }

@media screen and (max-width: 1024px) {     .containerw3layouts-agileits {
width: 60%;     } }

@media screen and (max-width: 966px) {     h1 {         font-size: 35px;
/*-- w3layouts --*/         /*-- agileits --*/         margin: 15px 0 50px;
}     .containerw3layouts-agileits {         width: 62%;     }     legend {
font-size: 23px;     }     .w3lsfooteragileits {         margin: 50px 10px 20px;
} }

@media screen and (max-width: 900px) {     legend {         font-size: 20px;
}     .containerw3layouts-agileits {         width: 66%;     } }

@media screen and (max-width: 853px) {     .form-horizontal .control-label {
font-size: 13px;     } }

@media screen and (max-width: 800px) {     label.card-lable.control-label {
padding-top: 4px;     } }

@media screen and (max-width: 768px) {     .containerw3layouts-agileits {
width: 70%;     } }

@media screen and (max-width: 767px) {     .col-sm-10, .col-sm-4 {
padding: 0;     }     .form-horizontal .form-group {         margin-right: 0;
/*-- w3layouts --*/         /*-- agileits --*/         margin-left: 0;     }
label.card-lable.control-label {         padding-top: 0;     }     fieldset
.form-horizontal .form-group {         margin-bottom: 5px;     }     .error {
font-size: 13px;     } }

@media screen and (max-width: 640px) {     h1 {         font-size: 30px;
margin: 30px 0 40px;     }     label {         font-size: 13px;     }     .form-
control {         padding: 8px 10px;         font-size: 13px;         /*--
w3layouts --*/         /*-- agileits --*/         font-weight: 300;     }
button.btn {         padding: 7px 35px;         font-size: 13px;     }
.w3lsfooteragileits p {         font-size: 14px;     } }

@media screen and (max-width: 568px) {     h1 {         font-size: 27px;     } }

@media screen and (max-width: 480px) {     h1 {         font-size: 25px;     }
.w3lsfooteragileits p {         font-size: 13px;     } }

@media screen and (max-width: 414px) {     .containerw3layouts-agileits {
width: 80%;     } }

@media screen and (max-width: 360px) {     h1 {         font-size: 24px;     }
.containerw3layouts-agileits {         width: 85%;     } }

@media screen and (max-width: 320px) {     h1 {         margin: 25px 0 30px;
}     .containerw3layouts-agileits {         width: 90%;     }     legend {
font-size: 18px;         /*-- w3layouts --*/         /*-- agileits --*/
margin-bottom: 10px;     }     .form-group {         margin-bottom: 10px;     }
.commands {         margin-top: 20px;     } }





/*-- //Responsive-Code --*/
